extends layout


block content
  
  div(class="cover-container")
    div(class="masthead clearfix")
      div(class="row")
        div(class="col-md-2 col-md-offset-1")
          a(class="appliURL" href="/")
            h3(class="masthead-brand1 DumbeldorMaitreDeTous") 
              span(class="Who") Who'
              span(class="SAM") SAM 
        //SAMgratte la tout de suite... mais je fais avec
        div(class="col-md-5 col-md-offset-1")
          h4(class="slogan") Rendre la route plus sûre ne dépend que de nous
  div(class="row")
    span
      div(class="separate")
