extends layout

block content

  div(class="cover-container")
    div(class="masthead clearfix")
      div(class="row")
        div(class="col-md-2 col-md-offset-1")
          a(class="appliURL" href="/")
            h3(class="masthead-brand1 DumbeldorMaitreDeTous") 
              span(class="Who") Who'
              span(class="SAM") SAM 
        //SAMgratte la tout de suite... mais je fais avec
        div(class="col-md-5 col-md-offset-1")
          h4(class="slogan") Rendre la route plus sûre ne dépend que de nous
  div(class="row")
    span
      div(class="separate")
  div(class="row")
    div(class="col-md-4 col-md-offset-2 text-center")
      a(class="appliURL" href="/application")
        button(class="appliButton" onclick='/application') Qui sera SAM ?
         
  
  div(class="row")
    div(class="col-md-4 col-md-offset-4 text-center")
  
  img(class="SAM_Image" src="/images/SAMImage.jpg")
  // Pourquoi tu regardes mon code ? je code trés bien ... enfin j'essaye ... Ok c'est pas terribe j'avoue
  // Bon c'est quand meme toujours mieux qu'IE hihihi
  br
  br
 
  
  div(class="row")
    //Elle s'allonge mais rétrecie en meme temps... Ne soit pas pervers par contre sinon c'est chiant
    div(class="col-md-5 col-md-offset-2")
      h3(class="why") Pourquoi 
        span(class="Who") Who'
        span(class="SAM") SAM 
        span(class="") ?
      br
      p(class="explication") Tu dois sûrement le savoir mais l'alcool et volant ne font pas bon ménage. C'est une des causes qui détruit le plus de vies chez les jeunes au volant. 
      p(class="explication") Choisir un SAM c'est toujours compliqué, soit parce que tes potes sont trop fétards soit parce que personne se dévoue. Alors pourquoi pas se défier pour savoir qui nous conduira en toute sécurité chez nous ce soir ?
      p(class="explication") Défis tes amis pour déterminer qui sera le super SAM d'aujourd'hui !
