.webgl-content{
  position: absolute;
  top: 55%;
  left: 50%;
  width: 65%;
  height: 55%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.slogan{
  margin-top: 25px;
  font-style: italic;
  font-size: 125%;
  margin-left: 10%;
  color: #FF6C18;
}

.cover-container{
  margin-left: 10%;
}

.Who{
  color: #FF6C18;
}

.SAM{
  color: #BBBDBD;
}

.DumbeldorMaitreDeTous{
  font-size: 200%;
}

.appliButton{
  align-items: center;
  background-color: #FF6C18;
  border : none;
  border-radius: 5px;
  color: #6B6B6B;
  padding: 30px 45px 30px 45px;
  margin-top: 40px;
  font-size: 150%;
  margin-left:18%;
  color: white;
}

.appliButton:hover{
  background-color: #BBBDBD;
}

.appliURL{
  color: white;
}

.appliURL:hover{
  color: white;
}

.separate{
  margin-top: 20px;
  margin-left: 10%;
  width: 70%;
  height: 10px;
  background-image:linear-gradient(to right, #FDFFFF, #FF6C18,#FDFFFF);
  border-radius: 3px;
}

.SAM_Image{
  position: absolute;
  top: 30%;
  width: 29%;
  z-index: 1;
  left: 58%;
}

.why{
  font-size: 180%;
}

.explication{
  font-size: 110%;
}
